/*csslint fallback-colors: false, order-alphabetical: false, box-model: false*/

body {
    background: rgb(72, 83, 112);
    font-family: 'Roboto Condensed', sans-serif;
}

.main-menu-container {
  /* a text-align center csak inline elemeknél működik, de a
  a main-menu-item egy inline elem lesz.
  a text align property le öröklődik egészen a main-menu-item-ig */
  text-align: center;
  padding-top: 50px;
}

.main-menu
{
    border-bottom: 3px solid #68d2c3;
    margin:0;
}

.main-menu-item
{
    display:inline-block;
    width:120px;
    padding: 20px 0;
    cursor:pointer;
    color:#e9e4ff;
    position: relative;
}

main 
{
  width: 600px;
  line-height: 1.6;
}

header
{
    width:400px;
    margin-top:50px;
}

.main-menu-item:hover
{
   background-color: rgba(41,47,48,.2); 
}

.main-menu-item:hover .submenu
{
    display: block;
}

.submenu
{
    display:none;
    background-color: rgba(41,47,48,.2);
    position:absolute;
    padding:0;
    top:59px;
}

.submenu-item
{
    line-height: 1;
    z-index: 10;
    width: 200px;
    list-style-type: none;
    padding:20px 10px;
}

.submenu-item:hover
{
    background-color:rgba(41,47,48,.7);
}

.main-content
{
    width: 800px;
    margin:0 auto;
    color:white;
}

.company-image
{
    float: right;
}
